.form {
  display: flex;
  flex-direction: column;
  width: 400px;

  margin: auto;
  padding: 15px;
}

.input {
  margin-bottom: 10px;
}
.btn {
  background: green;
}
.btn:hover {
  background: darkgreen;
}
